* {margin:0; padding:0; font-family:'noto sans kr';}
body { width:100%; /*min-width:1460px;*/ box-sizing:border-box; }

/* CONAINER */
.container {clear:both; width:1100px; margin:0 auto;}

/* QUICK */
#STATICMENU { margin: 0pt; padding: 0pt;  position: absolute; right: 0px; top: 0px; z-index: 1;}
#floatdiv {position:fixed; _position:absolute; _z-index:-1; width:170px; overflow:hidden; left:0px; top:60px; background-color: transparent; margin:0; padding:0;}
#floatdiv ul  { list-style: none; }
#floatdiv li  { margin-bottom: 2px; text-align: center; }
#floatdiv a   { color: #5D5D5D; border: 0; text-decoration: none; display: block; }
#floatdiv a:hover, #floatdiv .menu  { background-color: #5D5D5D; color: #fff; }
#floatdiv .menu, #floatdiv .last    { margin-bottom: 0px; }

/* HEADER */
header {height:100px; border-bottom:2px solid #b90101;}
header .tel {position: relative; z-index: 9999; text-align: right; margin-right: 60px;}
header .tel button a {font-size:18px; line-height:22px; background: url('../img/ico_phone.png') no-repeat center; text-indent: -9999px; display: block; width: 126px; margin-top: 5px;}
/* 네비메뉴 */
.nav_menu {clear:both; min-width:150px; width:100%; position:relative; margin:0 auto; position:absolute; top:0; left:0; right:0; z-index:1500; transition:all 0.4s; box-sizing: border-box;}
[id^=div_user_list] .nav_menu{position:relative; z-index:auto; top:0;}
.nav_menu_inner {width:1120px; margin:0 auto;}
.nav_menu > div:after {content:''; display:block; clear:both;}
.nav_menu > div > [class^=container_] {float:left; position:relative; width:100%;  box-sizing:border-box; transition:all 0.4s;}
.nav_menu > div > .container_1 {width:17%;}
.nav_menu > div > .container_2 {width:28%; margin-left:3%;}
.nav_menu > div > .container_3 {width:52%; float:right;}


/* 로고 */
.logo {position:relative; padding:0 80px; z-index:999; padding:0; border-bottom:none;}
.logo * {box-sizing:border-box;}
.logo h1 {display:table; width:100%; margin:0; padding:0; text-align:left;}
.logo h1 a {display:inline-block; margin-left:0; width:190px; height:80px; background:url("../img/logo.png") no-repeat center; background-size:100%; vertical-align:middle; transition:all 0.4s; line-height:100px; margin-top:20px;}
.nav_menu > div > .container_2 p {display: inline-block; color:#909090; font-size:10px; padding-top: 30px;}
.nav_menu > div > .container_2 p span {display: block; font-size:14px; color:#b90101;}

/* pm2 */
.pm2_wrap{position:relative;}
#pm2 {position:relative; z-index:100; width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
#pm2 * {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
#pm2 ul {margin:0; padding:0; list-style:none;}
#pm2 a {display:block; text-decoration:none; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#pm2 a > img {max-width:100%; vertical-align:top;}
#pm2 .dep1 {position:relative; height:100px;}
#pm2 .dep1 {display:table; width:100%; table-layout:fixed;}
#pm2 .dep1 > li {display:table-cell; position:relative; vertical-align:middle;}
#pm2 .dep1 > li > a {box-sizing:border-box; font-size:16px; font-weight:600; display:block; color:#313131; text-align:center; transition:all 0.3s; }
#pm2 .dep1 > li.on > a,
#pm2 .dep1 > li a:hover {color:#b90101;}
#pm2 .dep1 > li > div {display:none; position:relative; background:none;}
#pm2 .dep1 ul {padding:15px 0;}
#pm2 .dep2 > li > a {padding:5px; font-size:14px; color:#fff; font-weight:300; text-align:center; transition:all 0.2s;}


/* FOOTER */
footer {background-color:#f2f2f2; padding:45px 0;}
footer .container:after {content:''; display: block; visibility: hidden; clear: both;}
footer .container > div {float: left}
footer .container > div:nth-child(1) {width:17%;}
footer .container > div:nth-child(2) {width:64%;}
footer .container > div:nth-child(3) {width:17%; text-align: right;}
footer .container > div:nth-child(2) p {line-height:22px; color:#959595; word-break: keep-all;}
footer .container > div:nth-child(3) a {text-indent:-9999px; display:inline-block; text-align: right; width:60px; height:60px; transition:all .2s; transition-duration:.2s;}
footer .container > div:nth-child(3) a:first-child {background:url('../img/foot_kakao.png') no-repeat center;}
footer .container > div:nth-child(3) a:first-child:hover {background:url('../img/foot_kakao_hover.png') no-repeat center;}
footer .container > div:nth-child(3) a:last-child {background:url('../img/foot_btn.png') no-repeat center; margin-left:10px;}
footer .container > div:nth-child(3) a:last-child:hover {background:url('../img/foot_btn_hover.png') no-repeat center;}