/**********************************
************** MAIN ***************
***********************************/
/* LAYOUT */
#banner {position:relative;}
#board {padding:60px 0 70px;}
#consult {background:url('../img/main_banner_bg.jpg') no-repeat center; background-size:cover;}
#review {padding:70px 0;}
#weekly_best {padding:70px 0; background-color:#f2f2f2;}
#cooperation {padding:75px 0 80px;}
/* MAIN_TITLE */
h2.main_title {font-size:30px; color:#b90101; margin-bottom:30px; text-align: center;}
h2.main_title strong {color:#171717;}

/* 메인 슬라이드 */
#banner{position:relative;}
#banner .bx-wrapper{margin:0; width:100%;}
#banner .bx-wrapper .bx-viewport{box-shadow:none; border:none; left:0; position:relative;}
#banner .slide_wrap{width:100%; height:100% !important; min-height:500px !important;}
/*메인 슬라이드 이미지*/
#banner .slide_num1{background:url("../img/main_01.jpg") no-repeat center; background-size:cover;}
#banner .slide_num2{background:url("../img/main_02.jpg") no-repeat center; background-size:cover;}
#banner .slide_num3{background:url("../img/main_03.jpg") no-repeat center; background-size:cover;}
#banner .slide_num4{background:url("../img/main_04.jpg") no-repeat center; background-size:cover;}
#banner .slide_wrap { z-index: 1; position: relative;}
/*메인 슬라이드 페이저*/
#banner .bx-controls {width: 1100px; position: relative; margin: 0 auto;}
#banner .bx-controls-direction {position: absolute; bottom: 20px; right: 0;}
#banner .bx-controls-direction a {width:50px; height:50px; display:inline-block; text-indent: -9999px;}
#banner .bx-controls-direction a.bx-prev {background:url("../img/bx_prev.png") no-repeat center; background-size:cover;}
#banner .bx-controls-direction a.bx-next {background:url("../img/bx_next.png") no-repeat center; background-size:cover; margin-left:5px;}
/* 메인 슬라이드 하단 버튼*/
#banner .about {position:absolute; right:0; bottom:66px; width:100%; height:460px; }
#banner .about .container:before {z-index:-1; content:''; width:50%; height:100%; display:block; position: absolute; background-image:linear-gradient(0, #d77515, #d71518); background-image:linear-gradient(to left, #d77515, #d71518); background-image:-moz-linear-gradient(bottom, #d77515, #d71518 100%); right:0; top:0;}
#banner .about .container {}
#banner .about .container p {display:block; text-align: right;}
#banner .main_btn {margin-top:350px; padding:10px 0; width:25%; box-sizing:border-box;}

/* MAIN - BOARD */
#board .container:after {content:''; display: block; visibility: hidden; clear: both;}
#board .container > div {float:left; width:32%; margin-right:2%;}
#board .container > div:last-child {margin-right:0;} 
#board .container > div h3 {font-size:22px; color:#171717; display:block; margin-bottom: 20px; line-height: 1;}
#board .container > div h3 span {color:#b90101;}
#board .container > div h3 a {font-weight:600; float:right; margin-top: 8px; font-size:14px;}
#board .container .Board_01 ul.tabs li a {position: relative; }        
#board .container .Board_01 ul.tabs li a:visited {color: #000;}
#board .container .Board_01 ul.tabs li.selected a, 
#board .container .Board_01 ul.tabs li.selected a:hover {position: relative; top: 0px;}
#board .container .Board_01 .tabs {z-index: 15; position: relative; background: #FFFFFF; box-sizing: border-box; margin:0 auto; overflow: hidden; border: 1px solid #dcdcdc;}
#board .container .Board_01 .tabs-header {position: relative; overflow: hidden;}
#board .container .Board_01 .tabs-header ul {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; width:100%;}
#board .container .Board_01 .tabs-header li {width:50%; background:#eaeaea; border-bottom: 1px solid #dcdcdc; box-sizing: border-box;}
#board .container .Board_01 .tabs-header li:first-child {border-right:1px solid #dcdcdc;}
#board .container .Board_01 .tabs-header li.active {background:#fff; border-bottom:0;}
#board .container .Board_01 .tabs-header a {font-size:15px; z-index: 1; display: block; box-sizing: border-box; padding:10px 0; color: #828282; text-align: center;}
#board .container .Board_01 .tabs-header a span {display: block; font-size:14px; color:#fff;}
#board .container .Board_01 .tabs-content {position: relative; padding: 20px 25px; -webkit-transition: 0.3s ease; transition: 0.3s ease; overflow: hidden;}
#board .container .Board_01 .tabs-content:after {content: ''; position: absolute; bottom: -1px; left: 0; display: block; width: 100%; height: 1px; box-shadow: 0 0 20px 10px #FFFFFF;}
#board .container .Board_01 .tabs-content .tab {display: none;}
#board .container .Board_01 .tabs-content .tab.active {display: block;}
#board .container .Board_01 .pen-footer { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; width: 600px; margin: 20px auto 100px;}
#board .container .Board_01 .pen-footer a {color: #FFFFFF; font-size: 12px; text-decoration: none; text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);}
#board .container .Board_01 .pen-footer a .material-icons {width: 12px; margin: 0 5px; vertical-align: middle; font-size: 12px;}
#board .container .Board_01 .cp-fab {background: #FFFFFF !important; color: #4285F4 !important;}
#board .container .Board_01 .tabs-content dl {overflow: hidden; margin-bottom: 15px; line-height: 1; color:#777;}
#board .container .Board_01 .tabs-content dl dt {float:right;}
#board .container .Board_01 .tabs-content dl dd {float:left;}
#board .container .Board_02 ul li {margin: 25px 0;clear: both}
#board .container .Board_02 ul li:after {content:''; display: block; visibility: hidden; clear: both;}
#board .container .Board_02 ul li img {float: left;}
#board .container .Board_02 ul li p {color:#777; font-size:14px; margin-left: 25px; display: inline-block;}
#board .container .Board_02 ul li p.tit {width: 155px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-top:20px; margin-bottom:15px;line-height: 16px}
#board .container .Board_02 ul li p.date {margin-bottom:10px;}
#board .container .Board_03 {border:3px solid #b90101; box-sizing: border-box; }
#board .container .Board_03 h3 {text-align: center; margin: 0; color:#fff; padding: 7px 0; display: block; font-size:22px; font-weight:600; background:#b90101;}
#board .container .Board_03 > div {padding:20px 25px;}
#board .container .Board_03 dl:after {content:''; display: block; visibility: hidden; clear: both;}
#board .container .Board_03 dl {width:100%; margin-bottom: 20px; line-height: 1; color: #777;}
#board .container .Board_03 dl:last-child {margin-bottom:0;}
#board .container .Board_03 dl dt,
#board .container .Board_03 dl dd {float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
#board .container .Board_03 dl dt:first-child {width:26%; margin-right:2%;}
#board .container .Board_03 dl dd:nth-child(2) {width:20%; margin-right:2%;}
#board .container .Board_03 dl dt:nth-child(3) {width:34%; margin-right:2%;}
#board .container .Board_03 dl dd:nth-child(4) {width:14%; text-align: right;}

/* MAIN - COUNSULT */
#consult .container {position: relative;}
#consult .container iframe {position: absolute; top: 50%; transform: translateY(-50%); right: 0;}
#consult .container .inner_650 {width:650px;}
#consult .container img {padding-top:80px; display: block; margin:0 auto;}
#consult .container p {font-size:16px; color:#fff; text-align: center; margin-top: 25px; margin-bottom:65px;}
#consult form {display: inline-block;}
#consult form fieldset {background-color:#b90101; padding: 20px 25px; box-sizing: border-box;}
#consult form fieldset:after {content:''; display: block; visibility: hidden; clear: both;}
#consult form fieldset > div {float:left; color: #fff; font-size: 16px; font-weight: 600; text-align: right; display: inline-block;}
#consult form fieldset > div:nth-of-type(1),
#consult form fieldset > div:nth-of-type(2),
#consult form fieldset > div:nth-of-type(4),
#consult form fieldset > div:nth-of-type(5) {width:36%;}
#consult form fieldset > div:nth-of-type(3),
#consult form fieldset > div:nth-of-type(6) {width:28%;}
#consult form fieldset > div:after {content:''; display: block; visibility: hidden; clear: both;}
#consult form fieldset > div label {line-height:36px; float: left;}
#consult form fieldset > div input {border:0; height:36px; padding-left:10px; box-sizing: border-box;}
#consult form fieldset > div input[type='button']{height: unset; float: right; color: #b90101; font-size: 16px; font-weight: 600; border: 0; border-radius: 30px; padding: 13px 30px; background-color: #fff; display: block; margin-top: -5px; cursor: pointer; transition: all .3s;}
#consult form fieldset > div input[type='button']:hover {color: #8e0606;}
#consult form fieldset > div.privacy label.checkbox {color:#fff; float:right;}
#consult form fieldset > div:nth-of-type(1) label,
#consult form fieldset > div:nth-of-type(2) label,
#consult form fieldset > div:nth-of-type(4) label,
#consult form fieldset > div:nth-of-type(5) label {width:28%;}
#consult form fieldset > div:nth-of-type(1) input,
#consult form fieldset > div:nth-of-type(2) input,
#consult form fieldset > div:nth-of-type(4) input,
#consult form fieldset > div:nth-of-type(5) input {width:70%;}
#consult form fieldset > div:nth-of-type(1), 
#consult form fieldset > div:nth-of-type(2), 
#consult form fieldset > div:nth-of-type(3) {padding-bottom: 10px;}
#consult form fieldset > div.privacy {}
#consult form fieldset > div.privacy input[type='checkbox']{cursor: pointer; height: unset; margin-top: 15px;}
#consult form fieldset > div.privacy label {}
#consult form fieldset > div.privacy label span {font-weight: 300; font-size: 14px; margin-left: 5px;}

/* MAIN - REVIEW */
#review .container ul { margin-bottom:30px;}
#review .container ul:after {content:''; display: block; visibility: hidden; clear: both;}
#review .container ul li {width:31.666%; margin-right:2.5%; margin-bottom:30px; float:left;}
#review .container ul li:nth-child(3n) {margin-right:0;}
#review .container ul li figure {}
#review .container ul li figure img {}
#review .container ul li figure figcaption {}
#review .container ul li figure figcaption p {margin-bottom: 10px; color:#212121; font-size:22px; padding:15px 0 10px; font-weight:600; border-bottom:1px solid #b90101;}
#review .container ul li figure figcaption p a {overflow: hidden;display: block;text-overflow: ellipsis;white-space: nowrap}
#review .container ul li figure figcaption dl {overflow: hidden; color: #777; margin-bottom:10px;}
#review .container ul li figure figcaption dl dt {width:18%; float:left;}
#review .container > a { position: relative; display: block; text-align: center; width:300px; color: #fff; padding: 15px 0; background-color:#b90101; font-size: 22px; margin: 0 auto; transition:all .5s;}
#review .container > a:hover {background-color:#8e0606;}
#review .container > a:after {content:'+'; display: block; position: absolute; height: 26px; top:50%; font-size:26px; margin-top:-13px; right:100px; color:#fff; transition:all .5s;}
#review .container > a:hover:after {transform:rotate(360deg);}

/* MAIN - WEEKLY_BEST */
#weekly_best .container ul {}
#weekly_best .container ul:after {content:''; display: block; visibility: hidden; clear: both;}
#weekly_best .container > ul > li {float:left; background-color:#fff; position: relative; transition:all .4s; transition-duration: all .4s; transition-delay:all .4s; transition-timing-function: all .4s;}
#weekly_best .container > ul > li:hover {box-shadow: 10px 10px 10px 0 rgba(0,0,0,.3);}
#weekly_best .container ul li figure img:nth-child(2) {position: absolute; top:0; left:0; display: block;}
#weekly_best .container ul li figure img:nth-child(3) {position: absolute; right: 10px; top:10px;}
#weekly_best .container ul li.Top {width:31.666%; margin-right:2.5%;}
#weekly_best .container ul li.Bottom {width:48%; margin-right:4%; margin-top: 40px;}
#weekly_best .container ul li:nth-child(3),
#weekly_best .container ul li:nth-child(5),
#weekly_best .container ul li:nth-child(7) {margin-right:0;}
#weekly_best .container ul li figure figcaption p.model_name {color:#2e2e2e; font-size:26px;}
#weekly_best .container ul li figure figcaption p.model_name span {display: block; color:#727272; font-size:16px; margin-top:10px;}
#weekly_best .container ul li figure figcaption p.fee {color:#727272; font-size:16px;}
#weekly_best .container ul li figure figcaption p.fee span {color:#b90101; font-size:26px; margin-left:15px; margin-right:10px;}
#weekly_best .container ul li.Top figure figcaption p.model_name { padding:20px 0 20px 25px; border-bottom:1px solid #b90101;}
#weekly_best .container ul li.Top figure figcaption p.fee {text-align: right; padding:15px 25px;}
#weekly_best .container ul li.Bottom figure {overflow: hidden;}
#weekly_best .container ul li.Bottom figure img:nth-child(1) {float: left; width:52%;}
#weekly_best .container ul li.Bottom figure figcaption {float: left; width: 48%;}
#weekly_best .container ul li.Bottom figure figcaption p.model_name {padding:50px 20px 30px 20px;}
#weekly_best .container ul li.Bottom figure figcaption p.fee {padding-left:20px;}
#weekly_best .container .overlay {background-color: rgba(0, 0, 0, 0.6); bottom: 0; cursor: default; left: 0; opacity: 0; position: fixed; right: 0; top: 0; visibility: hidden; z-index: 1; -webkit-transition: opacity .5s; -moz-transition: opacity .5s; -ms-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s;}
#weekly_best .container .overlay:target {visibility: visible; opacity: 1;}
#weekly_best .container .popup {display: inline-block; left: 50%; opacity: 0;position: fixed; text-align: justify; top: 40%; visibility: hidden; z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
#weekly_best .container .overlay:target+.popup {top: 50%; opacity: 1; visibility: visible;  background-color: #fff;}
#weekly_best .container .close {background:url('../assets/img/close.png') no-repeat center; height: 30px; line-height: 30px; position: absolute; right:50px; text-align: center; top:0; width: 30px;}
#weekly_best .container .popup .cont > div:first-child {padding:20px;}
#weekly_best .container .popup .cont > div:first-child:after {content:''; display: block; visibility: hidden; clear: both;}
#weekly_best .container .popup .cont > div:first-child > div:first-child {width:32%; float:left;}
#weekly_best .container .popup .cont > div:first-child > div:nth-child(2) {width:68%; float:left;}
#weekly_best .container .popup .cont > div:first-child img {box-sizing: border-box; width: 100%;height: auto; padding-right: 25px;}
#weekly_best .container .popup .cont > div:first-child h5 {padding:25px 0 15px 20px; border-bottom:1px solid #b5b5b5; color:#2e2e2e; font-size:26px; margin-bottom:40px;}
#weekly_best .container .popup .cont > div:first-child h5 span {display: block; font-size:16px; color:#b90101; margin-bottom:10px;}
#weekly_best .container .popup .cont > div dl {padding-left: 20px; color:#2e2e2e; font-size:18px; margin-bottom:15px;}
#weekly_best .container .popup .cont > div:first-child dl dt {width:20%; display: inline-block;}
#weekly_best .container .popup .cont > div:first-child dl dd {width:80%; display: inline;}
#weekly_best .container .popup .cont .layer_if {background: #eaeaea; font-size: 18px; padding: 10px 20px; margin-top:60px;}
#weekly_best .container .popup .cont > div:first-child ul {padding:20px; overflow: auto;}
#weekly_best .container .popup .cont > div:first-child ul li {color:#2e2e2e; margin-bottom:10px;}
#weekly_best .container .popup .cont > div:last-child {padding:20px 40px; background-color:#b90101;}
#weekly_best .container .popup .cont > div:last-child p { margin-right: 35px; font-size: 22px; display: inline-block; color: #fff; float: left;}
#weekly_best .container .popup .cont > div:last-child form {display: inline-block;}
#weekly_best .container .popup .cont > div:last-child form fieldset {margin-bottom: 50px;}
#weekly_best .container .popup .cont > div:last-child form fieldset label {color:#fff; font-size:16px; font-weight:600; margin-left: 20px;}
#weekly_best .container .popup .cont > div:last-child form fieldset input[type='text'] {width: 150px; height: 36px; padding-left: 10px; box-sizing: border-box;}
#weekly_best .container .popup .cont > div:last-child form input[type='button'] {position: absolute; bottom: 20px; right: 40px; color: #8f0202; background: #fff; border: 0; padding: 15px 50px; border-radius: 30px; font-weight: 600; cursor: pointer;}
#weekly_best .container .popup .cont > div:last-child .privacy {text-align: center;}
#weekly_best .container .popup .cont > div:last-child .privacy input[type='checkbox'] {cursor: pointer;}
#weekly_best .container .popup .cont > div:last-child .privacy label.checkbox {color:#fff;}
#weekly_best .container .popup .cont > div:last-child .privacy label.checkbox a {color:#fff; font-weight:600;}

/* MAIN - COOPERATION */
#cooperation h2 {color:#171717; font-weight:600; font-size:30px; text-align: center; margin-bottom:50px;}
#cooperation h2 span {display:block; color:#737373; font-size:16px; margin-bottom:20px;}
#cooperation h2 b {display:block; font-size:18px; color:#b90101; margin-top:15px;}
/* MAIN - COOPERATION 슬라이드 페이저*/
#cooperation .bx-wrapper {position: relative;}
#cooperation .bx-controls-direction {}
#cooperation .bx-controls-direction a {width:15px; height:28px; display:inline-block; text-indent: -9999px; position: absolute; top:50%; margin-top:-14px;}
#cooperation .bx-controls-direction a.bx-prev {background:url("../img/cooper_bx_prev.png") no-repeat center; background-size:cover; left:-30px;}
#cooperation .bx-controls-direction a.bx-next {background:url("../img/cooper_bx_next.png") no-repeat center; background-size:cover; right:-30px;}

#cooperation ul {margin-top:70px; margin-bottom: 30px;}
#cooperation ul:after {content:''; display: block; visibility: hidden; clear: both;}
#cooperation ul li {float: left; width:12.5%; margin-bottom: 50px;}
#cooperation ul li img {display: block; margin:0 auto;}



/**********************************
************** SUB PAGE ************
***********************************/
/* SUB TOP */
.SubTop {background-position:center; background-size:cover; background-repeat: no-repeat;}
.SubTop h2 {font-size:36px; padding:70px 0; color:#fff; text-align: center;}
.SubTop h2 span {display: block; margin-top:30px; font-size:18px;}

.SubTop.team {background-image:url(../img/team_top.jpg);}
.SubTop.estimate {background-image:url(../img/estimate_top.jpg);}
.SubTop.sale {background-image:url(../img/sale_top.jpg);}
.SubTop.lesson {background-image:url(../img/lesson_top.jpg);}
.SubTop.review {background-image:url(../img/review_top.jpg);}

/* SUB COUNSULT */
.consult {background:url('../img/main_banner_bg.jpg') no-repeat center; background-size:cover;}
.consult .container img {padding-top:80px; display: block; margin:0 auto;}
.consult .container p {font-size:16px; color:#fff; text-align: center; margin-top: 25px; margin-bottom:65px;}
.consult form {display: inline-block;}
.consult form fieldset {background-color:#b90101; padding: 20px 25px; box-sizing: border-box;}
.consult form fieldset:after {content:''; display: block; visibility: hidden; clear: both;}
.consult form fieldset > div {float: left; color: #fff; font-size: 16px; font-weight: 600; display: inline-block;}
.consult form fieldset > div:after {content:''; display: block; visibility: hidden; clear: both;}
.consult form fieldset > div label {line-height:36px;}
.consult form fieldset > div input {border:0; height:36px; padding-left:10px; box-sizing: border-box; margin-right:20px;}
.consult form fieldset > div input[type='button']{height: unset; margin:0; color: #b90101; font-size: 16px; font-weight: 600; border: 0; border-radius: 30px; padding: 13px 30px; background-color: #fff; display: block; margin-top: -3px; cursor: pointer; transition: all .3s;}
.consult form fieldset > div input[type='button']:hover {color: #8e0606;}
.consult form fieldset > div input#area {width:160px;}
.consult form fieldset > div input#name {width:130px;}
.consult form fieldset > div input#phone {width:180px;}
.consult form fieldset > div input#model {width:160px;}

/************* TEAM ***************/
.memberArea {padding:70px 0 180px;}
.memberArea ul {}
.memberArea ul:after {content:''; display: block; visibility:hidden; clear: both;}
.memberArea ul > li {float: left; width:49%; margin-right:2%; margin-bottom:2%; border:1px solid #dcdcdc; box-sizing: border-box;}
.memberArea ul > li:nth-child(2n) {margin-right:0;}
.memberArea ul > li:nth-child(13),
.memberArea ul > li:nth-child(14) {margin-bottom:0;}
.memberArea ul li figure {}
.memberArea ul li figure img {display: block;}
.memberArea ul li figure figcaption {}
.memberArea ul li figure figcaption ol {padding:20px 40px; border-top:1px solid #dcdcdc;}
.memberArea ul li:nth-child(2n) figure figcaption ol {text-align:right;}
.memberArea ul li figure figcaption ol li {font-size:15px; font-weight:300; color:#212121; margin-bottom:10px;}

/************* ESTIMATE ***************/
.estimateArea {padding:70px 0 125px;}
.estimateArea .container {border:1px solid #dcdcdc;}
.estimateArea .container:after {content:''; display: block; visibility: hidden; clear: both;}
.estimateArea .container > div {float: left; width:50%; box-sizing: border-box; }
.estimateArea .leftBox {border-right:0;}
.estimateArea .leftBox img {width: 100%; display: block;}
.estimateArea .rightBox {}
.estimateArea .rightBox form {}
.estimateArea .rightBox form fieldset > * {color: #7f7f7f;}
.estimateArea .rightBox form fieldset.top {padding:25px 25px;}
.estimateArea .rightBox form fieldset label,
.estimateArea .rightBox form fieldset select{font-size: 14px; line-height: 34px;}
.estimateArea .rightBox form fieldset label {color:#7f7f7f; font-size:16px; font-weight:600; display: inline-block; text-align: center; width:85px; letter-spacing: -1px; line-height:36px; padding-top:15px;}
.estimateArea .rightBox form fieldset input[type='text'] {width:408px; height:36px; border:1px solid #dcdcdc; font-size: 14px; line-height: 34px; padding:0 10px; box-sizing: border-box;}
.estimateArea .rightBox form fieldset input[type='numbArea'] {padding-left: 10px; width:110px; border:1px solid #dcdcdc; height:36px; }
.estimateArea .rightBox form fieldset span.line {margin:0 5px;}
.estimateArea .rightBox form fieldset span.selectBox select.sel {padding-left: 10px; width:408px; height:36px; border-color: #dcdcdc; color: #7f7f7f;}
.estimateArea .rightBox form fieldset span.selectBox {background: url('../img/bg_arrow.png') no-repeat right center; width:408px; height:36px;}
.estimateArea .rightBox form fieldset.bottom {padding:10px 0; background-color:#eaeaea; text-align: center; border-bottom: 1px solid #eaeaea;}
.estimateArea .rightBox form fieldset.bottom label {padding:0;}
.estimateArea .rightBox form fieldset input[type='checkbox']+label{color: #7f7f7f; font-size: 14px; line-height: 20px; transition-duration:0.5s; width:unset;}
.estimateArea .rightBox p {padding:15px 25px; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; line-height: 1.4em; overflow: auto; margin-top: 15px; height: 285px}
.estimateArea .container.btn {border:0; text-align: center;}
.estimateArea .container.btn a {color:#fff; font-size:24px; background-color:#b90101; display: inline-block; padding: 15px 50px; border-radius: 50px; margin-top: 100px; transition:all .5s;}
.estimateArea .container.btn a:hover {background-color:#8e0606;}

/*board*/
.boardArea {padding: 70px 125px}
.board_tab {display: flex;margin: 0 0 40px}
.board_tab li {flex: 1;height: 60px}
.board_tab li a {display: block;height: 100%;border-bottom: 1px solid #b90101;color:#828282;line-height: 60px;text-align: center;}
.board_tab li.on a {border: 1px solid #b90101;border-bottom: 0;color:#b90101}
.view_table_list {border: 1px solid #999;border-collapse: collapse;}
.view_table_list th {border: 1px solid #999;padding: 7px}
.view_table_list td {border: 1px solid #999;padding: 7px}